<html>
<head>

  <title>Wealth Management</title>
</head>  
<body >
  <div class="viewport">
  <div class="container-fluid">
 <div class="row-12-md" style="widows:100px;">
  <div style="height:2%; padding-bottom:0px;">
  <app-nav-bar  ></app-nav-bar>
</div>
</div>
<br>
<br>
<hr>
<div class="a">
<div class="row " style="height: -webkit-fill-available;">
  <div class="" style="background-color:rgb(52, 58, 64);width: 12%  ;text-align: justify;">
    <app-vertical-nav></app-vertical-nav>
  </div>
  <div class="col-lg-10" style="float: right; margin:2px">
    <router-outlet>   </router-outlet>
  </div>
</div>
</div>
</div>
</div>
</body>
<html>