<div class="row">
<div class="col-md-8">
<div class="card mt-1">
<div class="header">
    <h4>SignUp</h4>
</div>
<div class="card body">
    <form [formGroup]="SignUpForm">
        <div class="form-group form-row">
            <label for="Email" class="col-md-4">Email:</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="Email" placeholder="Email" formControlName="Email" >
            </div>
        </div>
        <div class="form-group form-row">
            <label for="password" class="col-md-4">Password:</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="Password" placeholder="Password" formControlName="Password">
            </div>
        </div>
        <div class="form-group form-row">
            <label for="ConfirmPassword" class="col-md-4">ConfirmPassword:</label>
            <div class="col-md-8">
                <input type="text" class="form-control" name="ConfirmPassword" placeholder="ConfirmPassword" formControlName="ConfirmPassword">
            </div>
        </div>
    <button type="submit"  class="btn btn-success" (click)="onSubmit()">SignUp</button>

    </form>
    <!-- <span>{{SignUpForm.value|json}}</span> -->
</div>
</div>
</div>
</div>
